@charset "utf-8";
/* CSS Document */

/* 共通 *******************************/

/* フォント */
/* 1. htmlのベースサイズを調整（1remが10px相当） */
html {
    font-size: 62.5%;
}

/* デフォルトのfont-sizeの定義 */
:root {
    /* px値を10で割ってremに変換 */
    --h1-size: 3.0rem;
    --h2-size: 2.6rem;
    --h3-size: 1.6rem;
    --p-size: 1.6rem;
    --li-size: 1.8rem;
    /* --footer-p-size: 1.4rem;*/
}
/* フォント色 */
h1, h2, h3, p, a, li{
    color: #333;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: var(--h1-size);
    font-weight: 400;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: var(--h2-size);
    font-weight: 400;
}

/* h2.padding-bottom {
    padding-bottom: 1.5em;
} */

h3 {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: var(--h3-size);
    font-weight: 400;
}

p {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: var(--p-size);
    font-weight: 400;
}

header a {
    font-family: "Montserrat", sans-serif;
    /* font-size: var(--p-size); */
    font-weight: 400;
}

nav li{
    list-style-type: none;
    font-family: "M PLUS 1", sans-serif;
    font-size: var(--li-size);
    font-weight: 400;
}

/* footer {
    font-family: "M PLUS 1", sans-serif;
    font-size: var(--footer-p-size);
    font-weight: 400;
} */

a {
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

body {
    background-color: #faf9f2;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   padding: 0 calc(100px*100%/1200px);
}

/******************************* 共通 */


/* ヘッダー ****************************/

header {
    /* background-color: #faf9f2; */
    margin-bottom: calc(50px*100%/1200px);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vw;
}
nav h1{
    align-items: center;
}
.nav-list{
    display: flex;
    gap: calc(50px*100vw/1200px);
    padding-right: calc(50px*100vw/1200px);
}

@media only screen and (max-width: 750px) {
    nav{
        display: block;
        height: 20vw;
    }

    .nav-list{
        justify-content: flex-end;
    }

}
/**************************** ヘッダー */

/* メイン ****************************/

.works-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works-list .item{
    background-color: white;
    width: 46%;
    padding: 5%;
    border-radius: 1%;
}
.works-list .item:nth-child(n+3){
    margin-top: 8%;
}
.works-list .item h3{
    margin-top: 5%;
    text-align: center;
}

/* ★ホバー時のスタイル★ */
.works-list .item {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 変化を滑らかにする */
}
.works-list .item:hover {
    transform: scale(1.01); /* 拡大 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.02); /* シャドウ */
}

/**************************** メイン */

/* フッター ****************************/
footer{
    margin-top: calc(50px*100vw/1200px);
}
.copy{
    text-align: right;
}
/**************************** フッター */


/* Worksページ ****************************/

.works-one .title{
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
}

.works-one .title h2, .works-one .title h3{
    padding-bottom: 2%;
}

.works-one .title .br{
    display: none;
}

.works-one .line {
    width: 100%;
    border-top: 1px solid #333;
    margin: 2% 0;
}

.works-one .process p{
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.works-one .summary{
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 10%;
}

.works-one .target{
    padding: 2% 0;
}

.works-one .img-all{
    width: 80%;
    margin: 0 auto;
}

/**************************** Worksページ */


/* Aboutページ ****************************/

.about .about-img{
    /* width: calc(280px*100vw/1200px); */
    width: 280px;
    margin: 8% auto;
}

.about{
    text-align: center;
}
.about .txt{
    display: inline-block;
}
.about h3{
    padding: 8% 0 2% 0;
}

/**************************** Aboutページ */